.grid > div {
    border: 1px solid grey;
    padding: 8px;
  }
  .grid {
    width: 96%;
    height: auto;
    padding: 8px;
    display: grid;
  }
  .two {
    grid-template-columns: 1fr 1fr;
  }
  
  .three {
    grid-template-columns: 1fr 1fr 1fr;
  }
  