.open-snackbar {
  width: 300px;
  border: 1px solid grey;
  display: block;
  margin: 1rem auto;
}
.open-snackbar > button {
  display: block;
  text-align: center;
  margin: 1rem auto;
}
.snackbar {
  height: 2rem;
  width: 20rem;
  border: 1px solid grey;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: rgb(50, 50, 50, 1);
  border-radius: 3px;
  position: relative;
}
.snackbar > .message {
  width: 70%;
  color: white;
  font-size: 20px;
}
.snackbar > .undo {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bold;
}
.snackbar > .close {
  color: white;
  position: absolute;
  right: 0.2rem;
  border: none;
  background-color: transparent;
}
